# Logs
*.log

# Dependency directories
client/node_modules
server/node_modules

# dotenv environment variables file
.env
npm-debug.log
.idea
server/src/**/*.js
server/src/**/*.map
server/tests/*.map

# build
server/build/
client/build/
